<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <h1 class="display-6">Employees</h1>
   <div class="d-flex">
    <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">ADD EMP</button>
</div>
   </div>
  </nav>


  <!-- employee table -->

  <table class="table">
     <thead class="table-light">
     <tr>
       <th scope="col">Employee id</th>
       <th scope="col">First name</th>
       <th scope="col">Last name</th>
       <th scope="col">Email</th>
       <th scope="col">Mobile</th>
       <th scope="col">Salary</th>
       <th scope="col">Action</th>
     </tr>
     </thead>
     <tbody>
   <tr>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td>
        <button type="button" class="btn btn-info">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
       </td>

   </tr>
     </tbody>
</table>

<!-- modal -->



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Employees </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <form [formGroup]=profileForm>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">First Name:</label>
            <input formControlName="firstName" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Last Name:</label>
            <input  formControlName="lastName" class="form-control" id="message-text">
          </div>
          <div class="mb-3">
            <label for="email" class="col-form-label">email:</label>
            <input  formControlName="email" type="email" class="form-control" id="email">
          </div>
          <div class="mb-3">
            <label for="mobile" class="col-form-label">mobile:</label>
            <input formControlName="mobile" type="number" class="form-control" id="mobile">
          </div>
          <div class="mb-3">
            <label for="salary" class="col-form-label">salary:</label>
            <input formControlName="salary" type="text" class="form-control" id="salary">
          </div>
        </form>
        <p>{{profileForm.value | json}}</p>
        <p>{{profileForm.value.lastName}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        <button type="submit" class="btn btn-primary" (click)="employeeposting()">Add</button>
      </div>
    </div>
  </div>
</div>